body{
    background-color: aqua;
}

nav{
    text-align: center;
}

nav a:hover{
    size: 14px;
    color: aqua;
    background-color: rgb(8, 85, 8);
}

h1{
    text-align: center;
    color: rgb(8, 85, 8);
}
h2{
    text-align: left;
    background-color: white;
}

img{
    text-align: center;
    width: 200px;
    margin: 5% 43%;
    text-align: center;
    border: 10px solid rgb(8, 85, 8);
    border-radius: 260px;
}

footer{
    text-align: center;
}