@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: "Amatic SC", sans-serif;
}

/* 
* {
    border: 1px solid red; 
} */

header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.site-logo {
    max-height: 100px;

}

h1 {
    font-size: 4em;
}

body {
    font-family: var(--secondary-font);
}

.search-row {
    display: flex;
    padding: 10px;

    img {
        height: 16px;
    }

    input {
        width: 100%
    }
}

.recipe {
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    padding: 10px;

    .recipe-image {
        width: 50%;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.social-logo {
    max-height: 100px;
}

@media screen and (min-width: 700px) {
    .recipe {
        display: flex;
        flex-direction: row;
        border: 1px solid #333;
        padding: 10px;

        .recipe-image {
            width: 50%;
        }
    }

    .tag-row {
        padding: 5px;
        font-size: 3em;
        align-content: start;
        justify-self: center;
    }

    h2 {
        padding: 5px;
        font-size: 4em;
        align-content: center;
        justify-self: center;
    }

    .rating {
        padding: 5px;
        align-content: end;
        justify-self: center;
    }
}