h1{
    text-align: center;
    font-size: 50px;
}

h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #006EB6;
    padding-bottom: 50px;
    border-bottom: #006EB6, solid;
}

p{
    font-size: 30px;
    text-align: left;
    margin-left: 200px;
    margin-right: 180px;
}



body{
    margin-right: 200px;
    margin-left: 200px;
    border: gray, solid;
}

.does-list{
    font-size: 30px;
    text-align: left;
    margin-left: 180px;
    margin-right: 180px;
}

li{
    margin: 20px;
}

img{
    align-items: center;
    width: 150px;
}