.main-nav {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    justify-content: end;
    justify-items: end;
    color: #AF1B3F;
    font-family: Helvetica, Arial, sans-serif;
}

nav {
    direction: none;
    border-top: #EFC69B;
    border-bottom: #EFC69B;
    max-width: 100%;
    margin: 0 auto;
    padding: auto;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.one {
    grid-column: 1/2;
    margin-left: 10px;
}

.two {
    grid-column: 2/3;
    margin-left: 10px;
}

.three {
    grid-column: 3/3;
    margin-left: 10px;
}

.title {
    color: #AF1B3F;
    font-family: Helvetica, Arial, sans-serif;
}

h1,
div {
    color: #473144;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 25px;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 1rem, 2rem;
}


article {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 1rem, 2rem;
}

.info {
    min-width: 380px;
    display: grid;
    grid-template-columns: 20% 1fr;
}

.book-image {
    display: block;
    justify-self: center;
}

.book {
    grid-column: 2/3;
}

.filters {
    min-width: 150px;
    border: 1px solid #EFC69B;
}